.backup/
.idea/
.log/
.old/
#projects/
#resources/
#settings/
#web/
web/app/api/data/faker.*
web/app/js/jshunter.*
faker/
jshunter/
old/
tmp/
tmp_env/
trash/
backup/
bkp/
conf/nginx/*bkp*
conf/nginx/*.conf*
*.log
conf/env/*.tpl
conf/env/*.conf
installer.*
install.*
installed.*
.userdata
uninstall.txt
*docker-compose.yml*
*.env
*configuration.conf
.conf
.projects
tasks.inf
