projects/
old/
tmp/
tmp_env/
trash/
backup/
bkp/
.idea/
.log/
*.log
conf/env/*.tpl
conf/env/*.conf
installer.*
install.*
installed.*
.userdata
uninstall.txt
*docker-compose.yml*
*.env
configuration.conf